body{
	margin:0;
	padding: 0;
	background-color: #e9e9e9;
}
.top{
	background-color: #d9b712;
	color: #4d0000;
}
.judul{
	font-size: 12pt;
    padding: 10px;
    font-weight: bold;
}
.link{
	margin-top: 20px;
}
.links li a {
	color: #fff;

}
.links li a:hover{
	background-color: #4d0000;
	color: #d9b712;
}

.links li{
	background-color: #4d0000;
}